{
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ],
  "presets": [
    ["flow"],
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
