{
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "parser": "babel-eslint",
  "plugins": ["flowtype"],
  "rules": {
    "linebreak-style": 0
  },
  "globals": {
    "afterAll": true,
    "beforeAll": true,
    "beforeEach": true,
    "describe": true,
    "expect": true,
    "fit": true,
    "it": true,
    "jasmine": true,
    "xit": true,
    "jest": true
  }
}
